.about__wrapper-section-title{
    display: flex;
}

.about__description-top {
    .font-text .style-2 ();

    width: 599px;

    margin: 0;
    margin-left: 202px;
}

.about__slider {
    padding-top: 100px;
}

.about__description-bottom {
    padding-top: 207px;
}