.about__wrapper-section-title{
    display: flex;
}

.about__description-top {
    .font-text .style-2 ();

    width: 599px;

    margin: 0;
    margin-left: 202px;
}

.about__slider-about {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: auto;

    padding-bottom: 45px !important;

    max-width: 1600px;

    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.about__description-bottom {
    margin-top: 207px;
}

