.contacts__container {
    display: flex;
    flex-direction: row;

    padding-bottom: 100px;
}

.contacts__section-title {
    .heading-reset ();

    padding-right: 212px;
}

.contacts__container-inner {
    display: flex;
    flex-direction: column;

    .font-text .style-6 ();
    
        &--left {
            margin-right: 117px;
        }    
}

.contacts__street {
    padding-bottom: 13px;
}

.contacts__tel {
    .a-reset ();
    padding-bottom: 13px;
}

.contacts__mail {
    .a-reset ();
}

.contacts__img-map {
    max-width: 1600px;
}

@media (max-width: 500px) {
    .contacts__section-title{
        padding-right: 0;
        padding-bottom: 20px;
    }
    .contacts__container{
        flex-direction: column;
        padding-bottom: 50px;
    }
    .contacts__street{
        padding-bottom: 10px;
    }
    .contacts__tel{
        padding-bottom: 10px;
    }
    .contacts__container-inner--left{
        margin-right: 0;
        margin-bottom: 20px;
    }
}