.description-bottom__text {
    .font-text .style-3 ();

    margin: 0;
}

.description-bottom__text-position {
    margin-left: 300px;
}

.description-bottom__decor-elem-2 {
    padding-left: 224px;
}