.events-list__events-item {
    display: flex;
    align-items: flex-start;

    padding-top: 30px;
    padding-bottom: 43px;

    border-top: 2px solid @additional-text-color;

        &:last-child {
            border-bottom: 2px solid @additional-text-color;
        }
}