.events-item__when {
    display: flex;
    flex-direction: column;

    max-width: 183px;

    margin-right: 117px;
}

.events-item__date {
    .font-text .style-5 ();

    padding-bottom: 10px;
}

.events-item__time {
    .font-text .style-6 ();
}

.events-item__what {
    max-width: 457px;
    margin-right: 142px;
}

.events-item__headline {
    .font-text .style-4 ();
    padding-bottom: 20px;
}

.events-item__description {
    .font-text .style-1 ();
    padding-bottom: 43px;
}

.events-item__link-more {
    .a-reset (); 

    display: flex;
    align-items: center;

    stroke: @main-color;
        &:hover {
            color: @accent-color;

            stroke: @accent-color;
        }
}

.events-item__cost {
    

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
}

.events-item__price-tag {
    .font-text .style-4 ();

    display: block;
}

.events-item__organizer {
    .a-reset ();
    .font-text .style-6 ();
    color: @main-color;

    display: block;
}