.header__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-top: 57px;
    padding-bottom: 50px;
}

.header__logo {
    width: 96px;
    height: 39px;

    margin-right: 204px;
}

.header__decor-line {
    width: 1200px;
    height: 2px;
    background-color: @decor-color;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}