.header__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-top: 57px;
    padding-bottom: 50px;
}

.header__logo {
    width: 96px;
    height: 39px;

    margin-right: 204px;
}

// .header__link-inst {
//     &:hover {
//         background-image: url(img/svg/instagram-hover.svg);
//     }
// }

.header__decor-line {
    width: 1200px;
    height: 2px;
    background-color: @decor-color;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header__img-inst {
    width: 40px;
    height: 40px;
    stroke: @main-color;

    &:hover {
        stroke: @accent-color;
    }
}