.main__start-screen {
    padding-top: 30px;
}

.main__about {
    padding-top: 200px;
}

.main__services {
    padding-top: 200px;
}

.main__events {
    padding-top: 200px;
}

.main__contacts {
    padding-top: 200px;
}