.main__start-screen {
    margin-top: 150px;
}

.main__about {
    margin-top: 200px;
}

.main__services {
    margin-top: 200px;
    position: relative;
}

.main__events {
    margin-top: 200px;
}

.main__contacts {
    margin-top: 200px;
}