.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation__list {
    .list-reset ();

    width: 389px;
    height: auto;

    margin-right: 191px;

    display: flex;
    justify-content: space-between;
}

.navigation__item {
    padding-right: 40px;

    &:last-child {
        padding-right: 0;
    }
}

.navigation__link {
    .a-reset ();
    .font-text .style-1 ();

    color: @main-color;
}

.navigation__tel {
    .a-reset ();
    .font-text .style-1 ();

    margin-right: 34px;

    color: @main-color;
}

@media (max-width: 375px) {
    .navigation{
        position: absolute;
        flex-direction: column;
    }
    .navigation__list{
        flex-direction: column;
        margin-right: 0;
        width: initial;
    }
}