.service-description__title {
    .font-text .style-2 ();
    font-family: 'Neue Machina Bold';
}

.service-description__description {
    .font-text .style-1 ();
    font-size: 14px;
    line-height: 17px;
}

.service-description__service-list {
    .list-reset ();
    list-style: url("../img/svg/check.svg");
    
    padding-top: 45px;
}

.service-description__service-list-item {
    .font-text .style-1 ();
    font-size: 14px;
    line-height: 14px;

    padding-bottom: 15px;
    &:last-child {
        padding-bottom: 0;
    }
}

.service-description__price-list {
    align-self: flex-end;
}