.services__price {
    margin-top: 100px;

    display: flex;
}

.services__benefits {
    margin-top: 200px;
}

.services__slider-services {
    min-width: 0;
    min-height: 330px;
    height: auto;
    margin-top: 200px;
    // position: absolute;
    // top: 100;
    // left: 0;

    cursor: url("../img/cursor.png"),  no-drop;
}