@main-color: #212121;
@additional-text-color: #747474;
@decor-color: #C4C4C4;
@accent-color: #E00822;



// Test
// .accent {
//     color: @accent-color;
// }

// .description-bottom__decor-elem-1 {
//     display: inline;
// }
